#Header {
	background-color: var(--header-background-color);
}

#Header .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#Header .header__decoration {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;

	max-width: 72px;
}

#Header .decoration {
	width: 16px;
	height: 16px;

	border-radius: 100%;
	background-color: lightgray;
}
