#List {
	flex: 3;

	background-color: var(--list-background-color);
}

#List .inner {
	padding: 1.5rem 0;
}

#List .list__group {
	padding-inline-start: 0;
	list-style-type: none;
}

#List #ShoppingListForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
}

#List .form__group {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;

	padding: 0.8rem 2rem;
	border-bottom: 1px solid var(--app-border-color);
}

#List label {
	margin-right: auto;
}

#List label,
#List input[type="checkbox"]::before,
#List .form__action {
	cursor: pointer;
}

#List input[type="checkbox"] {
	--size: 1rem;

	appearance: none;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--size);
	height: var(--size);
}

#List input[type="checkbox"]::before {
	content: "";
	position: absolute;

	display: inline-flex;
	width: var(--size);
	height: var(--size);

	border: 2px solid lightgray;
	border-radius: 2px;
}

#List input[type="checkbox"]:checked::before {
	background-color: darkgray;
}

#List .form__action {
	font-size: 0.875rem;

	border: none;
	background-color: transparent;
}
