#Sidebar {
	flex: 1.5;
	background-color: var(--sidebar-background-color);
}

#Sidebar .inner {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	height: 100%;
}

#Sidebar #AddItemForm {
	flex: 1;
}

#Sidebar #AddItemForm,
#Sidebar .form__group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#Sidebar .footer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#Sidebar input[type="text"] {
	padding: 0.5rem 0.8rem;

	border: 1px solid var(--app-border-color);
	border-radius: 0.25rem;
}

#Sidebar input[type="text"]::placeholder {
	color: var(--input-placeholder-color);
	font-style: italic;
}
