#root {
	width: 100vw;
	height: 100vh;

	font-size: 16px;
	font-family: "Inter Tight", sans-serif;
	letter-spacing: 0.02em;
}

/* Sections */
.inner {
	padding: 1.5rem 2rem;
}

/* Typography */
h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

/* Helpers */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
