#root {
	width: 100vw;
	height: 100vh;

	font-size: 16px;
	font-family: "Inter Tight", sans-serif;
	letter-spacing: 0.02em;
}

/* Sections */
.inner {
	padding: 1.5rem 2rem;
}

/* Typography */
h1,
h2 {
	font-weight: 600;
}
