#App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	width: 80%;
	height: 80%;

	border-radius: 16px;
	border: 1px solid var(--app-border-color);
	background-color: var(--app-background-color);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	overflow: clip;
}
